.shutdown {
  display: inline-block;
  position: relative;

  height: 16px;
  width: 16px;
}

.shutdown svg {
  transition: fill 0.2s;
  fill: rgb(var(--secondary));
}

.shutdown:hover svg {
  fill: rgb(var(--secondaryHover));
}
