.shutdown {
  display: inline-block;
  position: relative;

  height: 16px;
  width: 16px;

  & svg {
    fill: rgb(var(--secondary));
    transition: fill 0.2s;
  }

  &:hover svg {
    fill: rgb(var(--secondaryHover));
  }
}
