.menu {
  border: 1px solid rgb(var(--secondary));
  background-color: rgb(var(--primary));

  justify-content: center;
  flex-direction: column;
  margin: 15px auto 0px;
  align-items: center;

  border-radius: 5px;
  position: absolute;
  flex-wrap: nowrap;
  padding: 5px 8px;

  display: flex;
  height: auto;
  width: auto;

  right: 0px;
  left: 0px;
}

.menu::after,
.menu::before {
  border-bottom: 12px solid rgb(var(--secondary));
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;

  transform: translateY(-100%);
  position: absolute;
  content: "";

  height: 0px;
  width: 0px;
  top: 0px;
}

.menu::after {
  border-bottom-color: rgb(var(--primary));
  transform: translateY(-85%);
}

.menu.right::after,
.menu.right::before {
  right: 5px;
  left: auto;
}

.menu.left::after,
.menu.left::before {
  right: auto;
  left: 5px;
}

.menu li {
  color: rgb(var(--secondary));
  font-family: 'Roboto Condensed',
    sans-serif, system-ui, monospace;

  list-style-type: none;
  text-align: center;
  font-weight: bold;

  padding: 2px 0px;
  font-size: 12px;
  width: 100%;
}

.menu li > * {
  position: relative;
}

.menu li.canHover {
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: background-color, color;
}

.menu li.canHover:hover {
  background-color: rgb(var(--secondary));
  color: rgb(var(--primaryHover));
}
