.taskbar {
  --backgroundAlpha: 0.75;
  --shadowAlpha: calc(var(--borderAlpha) / 2);
  --borderAlpha: calc(1 - var(--backgroundAlpha));

  transition: box-shadow 0.2s, background-color 0.2s, border-color 0.2s;
  box-shadow: 0 0 2px 1px rgb(var(--secondary) / var(--shadowAlpha));

  background-color: rgb(var(--primary) / var(--backgroundAlpha));
  border: 1px solid rgb(var(--secondary) / var(--borderAlpha));
  backdrop-filter: blur(16px) saturate(180%);

  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;

  padding: 5px 10px;
  position: fixed;
  display: flex;

  height: 25px;
  width: 100%;

  left: 0;
  top: 0;

  & .right {
    justify-content: space-between;
    align-items: center;
    position: relative;

    display: flex;
    height: 100%;
    width: auto;

    &.shutdown {
      min-width: 60px;
    }
  }
}
