.offline {
  transform: translate(-50%, -50%);

  text-align: center;
  position: absolute;
  min-width: 580px;

  left: 50%;
  top: 50%;
}

.offline h2 {
  color: rgb(var(--secondary));
  margin: 0 0 25px;
  font-size: 50px;
}

.offline span {
  color: rgb(var(--secondary));
  font-size: 150px;
}
