.version {
  transition: background-color 1s;

  background-color: rgb(var(--primary));
  font-family: 'Roboto Condensed';
  color: rgb(var(--secondary));

  pointer-events: none;
  padding: 3px 10px;
  font-weight: bold;
  font-size: 12px;

  position: fixed;
  display: block;

  bottom: 0;
  right: 0;
}
