.clock {
  text-align: center;
  position: absolute;

  max-width: 100px;
  cursor: pointer;

  line-height: 1;
  margin: auto;

  right: 0;
  left: 0;

  & span {
    font-family: 'Roboto Condensed';
    color: rgb(var(--primary));
    vertical-align: middle;
    transition: color 0.2s;
  
    position: relative;
    font-weight: bold;
    font-size: 12px;
  }

  &:hover span {
    color: rgb(var(--primaryHover));
  }
}
