.clock {
  text-align: center;
  position: absolute;

  line-height: 1.25;
  max-width: 125px;

  cursor: pointer;
  margin: auto;

  right: 0;
  left: 0;
}

.clock span {
  color: rgb(var(--secondary));
  transition: color 0.2s;
  display: block;
}

.clock time {
  font-family: 'Roboto Condensed',
    sans-serif, system-ui, monospace;

  color: rgb(var(--secondary));
  vertical-align: middle;
  transition: color 0.2s;

  position: relative;
  font-weight: bold;
  font-size: 12px;
}

.clock:hover span,
.clock:hover time {
  color: rgb(var(--secondaryHover));
}
