.clock {
  text-align: center;
  position: absolute;

  max-width: 100px;
  cursor: pointer;

  line-height: 1;
  margin: auto;

  right: 0;
  left: 0;
}

.clock time {
  font-family: 'Roboto Condensed',
    sans-serif, system-ui, monospace;

  color: rgb(var(--secondary));
  vertical-align: middle;
  transition: color 0.2s;

  position: relative;
  font-weight: bold;
  font-size: 12px;
}

.clock:hover time {
  color: rgb(var(--secondaryHover));
}
