.switcher {
  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid rgb(var(--secondary));
  background-color: rgb(var(--primary));

  display: inline-block;
  border-radius: 14px;
  position: relative;
  cursor: pointer;

  height: 16px;
  width: 34px;
}

.switcher::after {
  transition: transform 0.25s ease-in-out, background-color 0.2s;
  background-color: rgb(var(--secondary));

  border-radius: 50%;
  position: absolute;

  height: 16px;
  width: 16px;

  content: "";
  top: -1px;
}

.switcher.enabled {
  background-color: rgb(var(--primary));
}

.switcher.enabled::after {
  background-color: rgb(var(--secondary));
  transform: translateX(18px);
}

.switcher svg:first-child {
  stroke: rgb(var(--secondaryHover));
  color: rgb(var(--secondaryHover));

  position: absolute;
  height: 15px;
}

.switcher svg:last-child {
  stroke: rgb(var(--primaryHover));
  color: rgb(var(--primaryHover));

  position: absolute;
  height: 14px;
  right: 0;
}

.switcher:hover {
  border-color: rgb(var(--secondaryHover));
  background-color: rgb(var(--primaryHover));
}

.switcher:hover::after {
  background-color: rgb(var(--secondaryHover));
}

.switcher:hover svg:first-child {
  stroke: rgb(var(--secondaryHover));
}

.switcher:hover svg:last-child {
  fill: rgb(var(--secondaryHover));
}
