.switcher {
  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid rgb(var(--secondary));
  background-color: rgb(var(--primary));

  display: inline-block;
  border-radius: 14px;
  position: relative;
  cursor: pointer;

  height: 16px;
  width: 34px;

  & svg:first-child {
    stroke: rgb(var(--secondaryHover));
    color: rgb(var(--secondaryHover));

    position: absolute;
    height: 15px;
  }

  & svg:last-child {
    stroke: rgb(var(--primaryHover));
    color: rgb(var(--primaryHover));

    position: absolute;
    height: 14px;
    right: 0;
  }

  &::after {
    transition: transform 0.25s ease-in-out, background-color 0.2s;
    background-color: rgb(var(--secondary));

    border-radius: 50%;
    position: absolute;

    height: 16px;
    width: 16px;

    content: "";
    top: -1px;
  }

  &.enabled {
    background-color: rgb(var(--primary));

    &::after {
      background-color: rgb(var(--secondary));
      transform: translateX(18px);
    }
  }

  &:hover {
    border-color: rgb(var(--primaryHover));
    background-color: rgb(var(--secondaryHover));

    &::after {
      background-color: rgb(var(--primaryHover));
    }

    &.enabled {
      border-color: rgb(var(--secondaryHover));
      background-color: rgb(var(--primaryHover));
  
      &::after {
        background-color: rgb(var(--secondaryHover));
      }
    }
  }
}
