.background {
  --light: url("/assets/images/background/light.jpg");
  --dark: url("/assets/images/background/dark.jpg");

  position: absolute;
  inset: 0;

  &::after,
  &::before {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: opacity 1s;
    position: absolute;
    content: "";

    height: 100%;
    width: 100%;
  }

  &::before {
    background-image: var(--light);
  }

  &::after {
    background-image: var(--dark);
    opacity: 0;
  }

  &.light::after {
    opacity: 1;
  }
}
