.background {
  --light: url("/assets/images/background/light.jpg");
  --dark: url("/assets/images/background/dark.jpg");

  position: absolute;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.background::after,
.background::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: opacity 1s;
  position: absolute;
  content: "";

  height: 100%;
  width: 100%;
}

.background::before {
  background-image: var(--light);
}

.background::after {
  background-image: var(--dark);
  opacity: 0;
}

.background.light::after {
  opacity: 1;
}
